Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -bugprone-easily-swappable-parameters,
  -modernize-use-trailing-return-type,
  -portability-avoid-pragma-once,
  -readability-function-cognitive-complexity,
  -readability-identifier-length,
  -readability-magic-numbers
HeaderFilterRegex: '.*(apps|include|src)/.*'
FormatStyle: file
WarningsAsErrors: ''
CheckOptions:
  - key: readability-implicit-bool-conversion.AllowIntegerConditions
    value: true
